img{
    max-width: 100%;
}

.circle{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/topologiraffe-8DHMnWPhVpw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.circle-1{
    position: absolute;
    display: flex;
    top: 10%;
    width: 100%;
    justify-content: space-around;
}

.circle-2{
    position: absolute;
    justify-content: space-around;
    margin: auto 0;
    height: 70%;
    top: 21%;
    left: 91%;
}

.circle-3{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
    top: 85%;
}

.circle-4{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    height: 70%;
    margin: auto 0;
    top: 14%;
    left: 2%;
}

.circle-2 .station{
    margin-bottom: 36%;
}

.circle-4 .station{
    margin-bottom: 36%;
}

.event{
    position: absolute;
    display: none;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
    width: 60%;
    height: 50%;
    background-image: url("../img/3-15桃鉄オープニング-min-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content{
  background-color: white;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  text-align: center;
  background-image: url("../img/goal.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__content h1{
  margin-top: 10%;
  font-size: 60px;
  font-weight: bold;
}

.modal__content p{
  font-size: 35px;
  font-weight: bold;
  margin: 6% auto;
  font-family: 'Playfair Display', serif;
}

.modal__content a{
  text-decoration: none;
  display: inline-block;
  padding: 0.3em 1em;
  color: gray;
  border: solid 3px gray;
  border-radius: 3px;
  transition: .4s;
  cursor: pointer;
}

.modal__content a:hover{
  background-color: gray;
  color: white;
}

.modal-background{
  background-color: rgb(0, 255, 0);
  padding: 1em 1em;
  max-width: 100%;
}

.station-name{
    margin-top: 10%;
    font-weight: 900;
    font-size: 50px;
}

.station-text{
    margin-top: 10%;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.station-background{
  background-color: rgb(0, 255, 0);
  padding: 1em 1em;
}

.station-button{
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    background: gray;
    color: gray;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px rgb(77, 76, 76);
    border-radius: 3px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.station-button:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.station{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background: -moz-linear-gradient(top, white,white 70%,lime 80%, white 95%);
    background: -webkit-linear-gradient(top, white,white 70%,lime 80%, white 95%);
    background: linear-gradient(to bottom, white,white 70%,lime 80%, white 95%);
    border: solid 3px rgb(129, 126, 126);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}


.circle-top, .circle-bottom{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.demo_item{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-image: url("../img/train-removebg-preview.png");
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.demo_item.anime{
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-timing-function: steps(2);
    transition-duration: .3s;
    transition-property: transform;
}

.demo_stage{
    position: relative;
    width: 80%;
    top: -270px;
    display: block;
    margin: 0 auto;
}

.demo_wrap{
    display: block;
    position: absolute;
    top: 20px;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: 1;
    margin: 0 auto;
}

.demo_wrap[data-order="left"]{
    animation-name: GoLeft;
}

.demo_wrap[data-order="right"]{
    animation-name: GoRight;
}

[data-order="right"] > .demo_item{
    transform: rotateY(180deg);
}

@keyframes GoLeft{
    0%{
        right: 0%;
    }
    100%{
        right: 90%;
    }
}

@keyframes GoRight{
    0%{
        right: 90%;
    }
    100%{
        right: 0%;
    }
}

@keyframes upDown{
    0%{
        top: 0;
    }
    100%{
        top: 3px;
    }
}

.load{
    width: 100vw;
    height: 100vh;
    background-image:  radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
    z-index: 99999;
    position: fixed;
}

  
  
  .loader {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    perspective: 800px;
    color: white;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 3s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 3s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 3s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  .text{
    left: 25%;
    top: 47%;
    color: rgba(255, 255, 255, 0.651);
    position: absolute;
    z-index: -1;
    font-size: 50px;
    animation: rotate 5s linear infinite;
  }
  
  
  
  @keyframes rotate {
    0% {
      transform: rotateX(10deg) rotateY(-20deg) rotateZ(0deg);
      opacity: 100%;
    }
    50%{
      opacity: 0%;
    }
    100% {
      transform: rotateX(10deg) rotateY(-20deg) rotateZ(360deg);
      opacity: 100%;
    }
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  .p-show{
      font-size: 40px;
      font-weight: bold;
      color: #666;
      line-height: 2.5;
      margin: 0 auto;
      text-align: center;
  }

  .bottom{
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      padding: 70px;
  }

  .hide-bottom{
      margin: 10% 0;
      display: none;
      font-family: 'Playfair Display', serif;
  }

  .hide-inner{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .hide-content{
      width: 80%;
      margin: 0 auto;
      padding: 10% 0;
      display: flex;
      align-items: center;
      border-top: 1px dotted gray;
      text-align: center;
  }

  .last{
    border-bottom: 1px dotted gray;
  }

  .hide-title1, .hide-title2, .hide-title3{
      position: relative;
      padding: 0.5rem;
      color: white;
      margin-bottom: 10%;
  }

  .hide-title1{
      background: rgba(255, 166, 0, 0.61);
  }

  .hide-title2{
      background: rgba(2, 2, 145, 0.692);
  }

  .hide-title3{
      background: rgba(233, 233, 4, 0.623);
  }

  .hide-title1::before, .hide-title2::before, .hide-title3::before{
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      border: none;
      border-bottom: solid 15px transparent;
      border-right: solid 20px rgb(129, 126, 126);
  }

  .change{
      flex-direction: row-reverse;
  }

  .hide-text{
      width: 50%;
  }

  .text-bottom{
    line-height: 25px;
  }

  .hide-img{
      width: 50%;
  }

  .readmore{
      position: relative;
      height: 80px;
      width: 90px;
      margin: 40px auto; 
      display: block;
      background-color: transparent;
      color: #666;
      padding-bottom: 40px;
      border: none;
      outline: 0;
      transition: .5s;
      -erbkit-transition: .5s;
  }

  .readmore::after{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border-top: solid 3px #666;
      border-right: solid 3px #666;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      right: 30px;
      top: 40px;
      transition: .5s;
      -erbkit-transition: .5s;
  }

  .readmore:hover::after{
      top: 40px;
  }

  .on-click{
      color: transparent!important;
  }

  .on-click{
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
  }

  .start-inner{
      width: 100vw;
      height: 100vh;
      background-image: url("../img/19808_820_461.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .gamebtn{
      position: relative;
      top: 60%;
      left: 0%;
  }

  .gamebtn a {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 1em 2em;
      width: 300px;
      color: #333;
      font-size: 18px;
      font-weight: bold;
      background-color: #cccccc;
      transition: 0.3s;
      
  }

  .gamebtn a::after{
      content: '';
      width: 5px;
      height: 5px;
      border-top: 3px solid #333333;
      border-right: 3px solid #333333;
      transform: rotate(45deg);
  }

  .gamebtn a:hover{
      text-decoration: none;
      background-color: #bbbbbb;
  }

  .startbtn{
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 1em;
    background: rgb(230, 230, 230);
    color: rgb(230, 230, 230);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #a3a3a3;
    border-radius: 3px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  }
  
  .startbtn:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }


  #container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    top: 25%;
    left: 68%;
}

.cube {
  margin: 40px;
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(-25deg); 
}

.cube div {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 60px;
}

.cube div:nth-child(1) {
  background: rgba(255, 127, 127, .8);
  transform: translateZ(50px);
}

.cube div:nth-child(2) {
  background: rgba(255, 127, 255, .8);
  transform: rotateY(180deg) translateZ(50px);
}

.cube div:nth-child(3) {
  background: rgba(127, 127, 255, .8);
  transform: rotateY(90deg) translateZ(50px);
}

.cube div:nth-child(4) {
  background: rgba(127, 255, 255, .8);
  transform: rotateY(-90deg) translateZ(50px);
}

.cube div:nth-child(5) {
  background: rgba(191, 255, 127, .8);
  transform: rotateX(90deg) translateZ(50px);
}

.cube div:nth-child(6) {
  background: rgba(255, 191, 127, .8);
  transform: rotateX(-90deg) translateZ(50px);
}



/* アイデア２ */
.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }


@media screen and (max-width: 1280px) {

  .station{
    width: 70px;
    font-size: 10px;
  }

}